@import '@/index.scss';
@import '@/styles/components/buttons.module.scss';

.container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .categoryBtn {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #F85A08;
  }
  .categoryBtn:hover {
    color: #F85A08;
    cursor: pointer;
  }
  .list li{
    margin: 10px;
    cursor: pointer;
  }
  .list li:hover{
    color: #F85A08;
  }
}
.main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 5px;
  .img {
    width: 10rem;
    height: 12rem;
    border-radius: 10px;
  }
  .imageDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    gap: 15px;
    .btn {
      width: 80%;
    }
    .price {

      font-family: Montserrat;
      font-weight: 600;
      line-height: 18px;
      color: #F85A08;

    }
  }
}
.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  span {
    display: flex;
  }
  input {
    align-self: center;
    border-radius: 20px;
    border: 3px solid #ECEDEE;
    width: 20rem;
    height: 30px;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .main-div {
    flex-direction: column;
    align-items: center;
  }
}
