@import '@/index.scss';
@import '@/styles/components/buttons.module.scss';

.container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.categories {
  display: flex;
  flex-direction: column;
  width: 170px;
  .categoryBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid $orange-color;
  }
  .categoryBtn:hover {
    color: $orange-color;
    cursor: pointer;
  }
  .list li {
    margin: 10px;
    cursor: pointer;
  }
  .list li:hover {
    color: $orange-color;
  }
}
.main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
  margin: 2rem 0;
  .img {
    width: 100%;
    height: 20rem;
    border-radius: 10px;
  }
  .imageDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    gap: 15px;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;

    .price {
      @extend .text-subtitle;
      color: $dark-color;
    }
    .discounted {
      color: $accent-color;
      text-decoration: line-through;
    }
    .prices {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      font-size: 1.5rem;
    }
  }
}
.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  span {
    display: flex;
  }
  .search-sort {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    gap: 10px;
    .sortContainer {
      display: flex;
      justify-content: center;
      position: relative;
      .sortIcon {
        position: absolute;
        left: 0;
        color: $gray-40;
      }
    }
    .filterDiv {
      display: flex;
      position: absolute;
      right: 0;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      .details {
        position: fixed;
        right: 0;
        top: 150px;
        margin: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .details > div > p {
        text-align: center;
        font-size: 1.3rem;
        color: $orange-color;
      }
      .details > div > ul > li {
        margin: 20px;
      }
      .filterButtons {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .hidden {
        display: none;
      }
      // color: $gray-40;
    }
    .sort {
      border: 1px solid $gray-40;
      width: 10rem;
      border-radius: 10px;
      background-color: white;
      height: 30px;
      position: relative;
      text-align: center;
      color: $gray-40;
      img {
        width: 200px;
        height: 50px;
      }
    }
    .searchInput {
      align-self: center;
      border-radius: 20px;
      border: 3px solid #ecedee;
      width: 20rem;
      height: 30px;
    }
  }
}
@media (max-width: 500px) {
  .main-div {
    flex-direction: column;
    align-items: center;
  }
}
