/* Input field styles */
.input-field {
  max-width: 20.5rem;
  height: 3.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid $gray-20;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $gray-5;

  &-text {
    @extend .text-body-small;
  }

  &-label {
    @extend .text-info-large;
  }
}

.assistive-text {
  @extend .text-info;
  color: $gray-40;
}

.error-message {
  @extend .text-info;
  color: $error-color;
}

.input-field:hover,
.input-field:focus {
  border-bottom: 1px solid $gray-40;
}

/* Style for disabled input */
.input-field[disabled] {
  color: $gray-40;
  cursor: not-allowed;
}

/* Style for error state */
.input-field.error {
  border-bottom: 1px solid $error-color;
}
