/* Toast message styles */
.toast {
  max-width: 1110px;
  height: 80px;
  padding: 24px 32px;
  gap: 10px;
  border-radius: 5px;
  opacity: 0;

  &-success {
    border: 1.5px solid $success-color;
  }

  &-error {
    border: 1.5px solid $error-color;
    background-color: $error-background;
  }
}

.toast-text {
  @extend .text-subtitle-large;
}

/* Animation for showing/hiding the toast */
.toast-enter {
  opacity: 0;
  transform: translateY(100%);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.toast-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.toast-exit {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.toast-exit-active {
  opacity: 0;
  transform: translateY(100%);
}
