@import '@/index.scss';
@import '@/styles/components/buttons.module.scss';
@import '@/pages/CatalogPage/CatalogPage.module.scss';

.basket {
  display: flex;
}

.book-baskets {
  display: flex;
  align-items: center;

  .btn-cart {
    width: 180px;
  }
}

.delete {
  display: flex;
  background-color: rgb(226, 91, 91);
  align-items: center;
  justify-content: space-between;
  border: none;
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  .with-promocode {
    color: $accent-color;
    text-decoration: line-through;
  }
  .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    margin: 10px 0;
    .code {
      font-size: 1.2rem;
      border: 1px solid black;
      padding: 10px 0px 10px 30px;
    }
  }
}

.product-quantity-controls {
  @extend .text-subtitle;
  width: 3rem;

  & > span {
    display: table;
    margin: 0.8rem auto 0;
    font-size: 1.4rem;
  }
}
