@import '@/index.scss';
@import '@/styles/components/buttons.module.scss';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.image,
.content {
  flex: 1;
  flex-basis: 0;

  @media (max-width: 768px) {
    align-items: center;
  }
}

.image img {
  max-width: 100%;
  height: auto;
}
.content {
  display: flex;
  flex-direction: column;
}

.content * {
  margin-bottom: 2rem;
}
