.wrapper {
  display: flex;
  align-items: center;
  height: 70vh;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.image,
.content {
  flex: 1;
  flex-basis: 0;
}

.image img {
  max-width: 100%;
  height: auto;
}
.content {
  display: flex;
  flex-direction: column;
}

.content * {
  margin-bottom: 2rem;
}
