@import '../../index.scss';

.header {
  min-height: 7.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo,
.login {
  @include enabled;
  width: 58px;
  height: auto;
}
.logo img,
.login img {
  max-width: 100%;
  height: auto;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
  margin-left: 0.5rem;
}

.login p {
  padding-top: 0.5rem;
  color: $orange-color;
}

.product-name-slogan {
  color: $orange-color;
}

@media (max-width: 576px) {
  .product-name,
  .product-name-slogan {
    position: absolute;
    left: -99999em;
    width: 1px;
    height: 1px;
  }
}
