.header {
  display: flex;
  min-height: 120px;
  align-content: center;
  justify-content: space-between;
}

.logo,
.login {
  width: 58px;
  height: auto;
}
.logo img,
.login img {
  max-width: 100%;
  height: auto;
}

.login p {
  color: #f85a08;
}

.product-name-slogan {
  color: #f85a08;
}

@media (max-width: 576px) {
  .product-name,
  .product-name-slogan {
    position: absolute;
    left: -99999em;
    width: 1px;
    height: 1px;
  }
}
