.footer {
  min-height: 56px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 2px solid #bfc4c9;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
    color: #f85a08;
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .container {
    flex-direction: column;
  }

  .copyright {
    padding: 1rem 0;
  }
}
