@import '../../index.scss';
@import '../../styles/components/buttons.module.scss';
@import '../../App.module.scss';

.footer {
  min-height: 3.5rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 2px solid $gray-20;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons,
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    @include enabled;
    margin: 0 10px;
    color: $orange-color;
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  .wrapper {
    flex-direction: column;
  }

  .copyright {
    padding: 1rem 0;
  }

  .social-icons,
  .contacts {
    justify-content: center;
  }
}
